<div id="<%= dom_id quizz %>">
  <p>
    <strong>Alcool:</strong>
    <%= quizz.alcool %>
  </p>

  <p>
    <strong>Sport:</strong>
    <%= quizz.sport %>
  </p>

  <p>
    <strong>Sommeil:</strong>
    <%= quizz.sommeil %>
  </p>

</div>
